/* universal styling */

html {
  font-size: 18px;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  font-family: Helvetica;
}

body {
  border-top-width: 1rem;
}

/* header */

div.header {
  display: flex;
  justify-content: center;
}

div.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 18px;
  width: 960px;
  background-color: cadetblue;
  z-index: 1;
  margin-top: 1rem;
}

div.logo-name {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.logo-name img {
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;
}

div.logo-name span {
  display: flex;
  align-items: center;
}

div.navigation li {
  display: inline-block;
  padding-right: 2rem;
}

/* main banner */

div.main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  height: 31rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.main-banner-text {
  position: relative;
  background-color: white;
  height: 5rem;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  color: black;
  font-weight: bold;
  line-height: 1.2;
}
