/* universal styling */

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
}

body {
  border-top-width: 1rem;
}

/* header */

div.header {
  display: flex;
  justify-content: center;
}

div.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 18px;
  width: 960px;
  background-color: cadetblue;
  z-index: 1;
  margin-top: 1rem;
}

div.logo-name {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.logo-name img {
  padding-left: 2rem;
  padding-right: 1rem;
  height: 1.5rem;
}

div.logo-name span {
  display: flex;
  align-items: center;
}

div.navigation li {
  display: inline-block;
  padding-right: 2rem;
}

.truncated-menu {
  display: none;
}

@media only screen and (max-width: 700px) {
  .nav-menu {
    display: none;
  }

  .truncated-menu {
    display: block;
  }

}

@media only screen and (max-width: 560px) {
  .nav-menu {
    display: none;
  }

  .truncated-menu {
    display: block;
  }


  div.logo-name span {
    display: none;
    }
}

/* main banner */

div.main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  height: 31rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.main-banner-text {
  position: relative;
  background-color: white;
  display: inline-block;
  top: 14rem;
  padding: 1.5rem 5rem;
  left: 60rem;
}

div.main-banner-text span {
  font-size: 2rem;
  color: black;
  font-weight: bold;
  line-height: 1.2;
}

/* features */

div.features {
  display: flex;
  justify-content: center;
}

div.features .container {
  display: flex;
  justify-content: center;
  width: 960px;
  height: 8rem;
  padding: 3rem 0;
}

.features div.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 6rem;
}

.features div.icons span {
  text-align: center;
}

.container img.paper {
  width: 3.5rem;
}

.container img.ruler, img.truck {
  width: 5rem;
}

/* company info */

.info {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.info p {
  padding: 1rem 0;
}

.title {
  max-width: 10rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-weight: bold;
  color: white;
}

/* footer */

div.footer {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: azure;
  height: 9.5rem;
  margin-left: 4rem;
  width: 960px;
}

img.footer-img {
  display: inline-block;
  height: 1.5rem;
  padding-right: 1rem;
}

div.footer-name {
  display: inline-block;
}
